<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Автор</title>
</head>
<body>
    <h2 th:text="|${author.firstName} ${author.secondName}|"></h2>
    <hr>
    <table>
        <tr>
            <td><label>Год рождения:</label></td>
            <td><span th:text="${author.birthday}"></span></td>
        </tr>
    </table>
    <br>
    <form th:action="@{/author/removeAuthor(id=${author.id})}" method="post">
        <button type="submit">Удалить</button>
    </form>
</body>
</html>